# deps
**/node_modules/
# builds
**/dist/
**/.next/
**/out/
**/.turbo/
coverage/

# envs/secrets
.env
*.env
**/.env
sicoe-local/.env
sicoe-backend/.env
sicoe-frontend/.env

# logs & editor
npm-debug.log*
yarn-error.log
pnpm-debug.log
.DS_Store
.vscode/
.idea/

# backups locais
backup-*.tgz
